@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Inventorize your books!</h2>
    <p>Please select database to insert...</p>

    <div class="bookList">
    <ul>
        <img src="~/css/images/blauw.webp" asp-append-version="true"/>
        <img src="~/css/images/steal like an artist.jpg" asp-append-version="true" />
        <img src="~/css/images/the circle.jpg" asp-append-version="true" />
    </ul>
    </div>
</div>
